{% extends "main/layout.html" %}

{% block title %}Форма по добавлению новости на сайте{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению новости на сайте</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }} {# Для виджетов, требующих JS/CSS #}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }} {# Django отрендерит поле с правильным виджетом и классом form-control, если он задан в виджете #}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger mt-1">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
{% endblock  %}
