{% extends "main/layout.html" %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
    <div class="news-detail">
        {% if article.photo %}
            <img src="{{ article.photo.url }}" alt="{{ article.title }}" class="news-photo">
        {% endif %}
        <h1>{{ article.title }}</h1>
        <p class="news-date">{{ article.date|date:"d.m.Y H:i" }}</p>
        <div class="news-text">
            {{ article.full_text|linebreaks }}
        </div>
        <div class="news-actions">
            <a href="{% url 'news' %}" class="btn btn-primary">Назад к новостям</a>
            <a href="{% url 'news_update' article.id %}" class="btn btn-warning">Редактировать</a>
            <a href="{% url 'news_delete' article.id %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
{% endblock %}